/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for custom Mouse paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    The igenome mouse files are broken
    - Only have the main chromosomes
    - ordered in the CS way 10,11,...

    To use need to define:
        genomes = null
        igenomes_ignore = true
-----------------------------------------------------------------------------------------
*/

RBASE = "/rtsess01/compute/juno/bic/ROOT/rscr/references"
params {
    bwa                   = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Sequence/BWAIndex/Version0.7.17/"
    dict                  = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Sequence/WholeGenomeFasta/GRCm38.dict"
    fasta                 = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Sequence/WholeGenomeFasta/GRCm38.fa"
    fasta_fai             = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Sequence/WholeGenomeFasta/GRCm38.fa.fai"
    intervals             = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/intervals/GRCm38_calling_list.bed"
    dbsnp                 = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/Variation/Mus_musculus.vcf.gz"
    dbsnp_tbi             = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/Variation/Mus_musculus.vcf.gz.tbi"
    known_snps            = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz"
    known_snps_tbi        = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/MouseGenomeProject/mgp.v5.merged.snps_all.dbSNP142.vcf.gz.tbi"
    known_indels          = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz"
    known_indels_tbi      = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/MouseGenomeProject/mgp.v5.merged.indels.dbSNP142.normed.vcf.gz.tbi"
    //pon                   = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.vcf.gz"
    //pon_tbi               = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.vcf.gz.tbi"
    germline_resource     = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/GermlineEvents/mgp.v5.merged.ALL.dbSNP142.AF_InfoOnly.vcf.gz"
    germline_resource_tbi = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/GermlineEvents/mgp.v5.merged.ALL.dbSNP142.AF_InfoOnly.vcf.gz.tbi"
    mappability           = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/Control-FREEC/GRCm38_68_mm10.gem"
    readme                = "${RBASE}/Mus_musculus/BIC_MSK/GRCm38/Annotation/README.txt"
    snpeff_db             = 99
    snpeff_genome         = 'GRCm38'
    vep_cache_version     = 102
    vep_genome            = 'GRCm38'
    vep_species           = 'mus_musculus'
}
