/*
 * -------------------------------------------------
 * Neo config
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core
 * pipelines on new JUNO
 *
 * Put assay independent stuff here. Assay dependent stuff
 * should go in conf/<ASSAY_NAME>.config
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000
  perJobMemLimit = false
  perTaskReserve = true
}

params {
  max_memory = "128.GB"
  mem_per_core = true
  minWallTime = 3.h
  medWallTime = 6.h
  maxWallTime = 500.h
  wallTimeExitCode = '140,0,1,143'
}

process {

  memory = "8.GB"
  time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
  clusterOptions = "-R cmorsc1"
  scratch = true
  beforeScript = "module load singularity/3.1.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }

}

env {
  SPARK_LOCAL_DIRS = './'
}
