/*
 * -------------------------------------------------
 * Neo config
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core pipelines on new JUNO
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 5000
  perJobMemLimit = false
  perTaskReserve = true
}

process {
  memory = "8.GB"
  time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
  clusterOptions = ""
  scratch = true
  beforeScript = "module load singularity/3.1.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }

  withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
      cpus   = { 8 * task.attempt }
      memory = { 16.GB * task.attempt } // Again memory/cpus = integer
  }

  withName: 'GATK4_MARKDUPLICATES' {
    cpus = { 12 }
    memory = { 36.GB }
    //ext.args = "--MAX_RECORDS_IN_RAM 20000000 --SORTING_COLLECTION_SIZE_RATIO .15"
  }

  withName: 'GATK4_APPLYBQSR|GATK4_BASERECALIBRATOR' {
    cpus = { 12 * task.attempt }
    memory = { 24.GB * task.attempt } // 12 cores * 2GB per core
    time = { task.attempt < 3 ? 6.h * task.attempt  : 18.h }
  }

  withName: 'MULTIQC' {
      cpus   = { 24 * task.attempt }
      memory = { 24.GB * task.attempt }
  }

  withName: ".*BAM_APPLYBQSR:CRAM_MERGE_INDEX_SAMTOOLS:MERGE_CRAM" {
    cpus = { 20 }
    memory = { 20.GB } // 20 cores * 1GB per core
    time = { task.attempt < 3 ? 7.h * task.attempt  : 21.h }
  }

  withName: ".*CRAM_SAMPLEQC:CRAM_QC_RECAL:SAMTOOLS_STATS" {
    cpus = { 20 }
    memory = { 20.GB } // 20 cores * 1GB per core
    time = { task.attempt < 3 ? 7.h * task.attempt  : 21.h }
  }

  withName: ".*NFCORE_SAREK:SAREK:FASTQC" {
    memory = { 24.GB * task.attempt }
    time = { task.attempt < 3 ? 3.h * task.attempt  : 9.h }
  }

  withName: "FASTP" {
    cpus   = { 12 }
    memory = { 12.GB }
    time = { task.attempt < 3 ? 1.h * task.attempt  : 4.h }
  }

  withName:'STRELKA.*|MANTA.*' {
    cpus   = {  12 * task.attempt }
    memory = {  12.GB * task.attempt }
  }

}

params {
  max_memory = "128.GB"
  mem_per_core = true
  minWallTime = 3.h
  medWallTime = 6.h
  maxWallTime = 500.h
  wallTimeExitCode = '140,0,1,143'
}

env {
  SPARK_LOCAL_DIRS = './'
}
