/*
    Assay specific info
*/

params {
    //
    // We do not have a PoN for Mouse Exomes; use NULL PoN
    //
    pon     = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz"
    pon_tbi = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz.tbi"
}

process {

  withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
      cpus   = { 8 * task.attempt }
      memory = { 16.GB * task.attempt } // Again memory/cpus = integer
  }

  withName: 'GATK4_MARKDUPLICATES' {
    cpus = { 12 }
    memory = { 36.GB }
    //ext.args = "--MAX_RECORDS_IN_RAM 20000000 --SORTING_COLLECTION_SIZE_RATIO .15"
  }

  withName: 'GATK4_APPLYBQSR|GATK4_BASERECALIBRATOR' {
    cpus = { 12 * task.attempt }
    memory = { 24.GB * task.attempt } // 12 cores * 2GB per core
    time = { task.attempt < 3 ? 6.h * task.attempt  : 18.h }
  }

  withName: 'MULTIQC' {
      cpus   = { 24 * task.attempt }
      memory = { 24.GB * task.attempt }
  }

  withName: ".*BAM_APPLYBQSR:CRAM_MERGE_INDEX_SAMTOOLS:MERGE_CRAM" {
    cpus = { 20 }
    memory = { 20.GB } // 20 cores * 1GB per core
    time = { task.attempt < 3 ? 7.h * task.attempt  : 21.h }
  }

  withName: ".*CRAM_SAMPLEQC:CRAM_QC_RECAL:SAMTOOLS_STATS" {
    cpus = { 20 }
    memory = { 20.GB } // 20 cores * 1GB per core
    time = { task.attempt < 3 ? 7.h * task.attempt  : 21.h }
  }

  withName: ".*NFCORE_SAREK:SAREK:FASTQC" {
    memory = { 24.GB * task.attempt }
    time = { task.attempt < 3 ? 15.m + (2.h * (task.attempt-1))  : 6.h }
  }

  withName: "FASTP" {
    cpus   = { 12 }
    memory = { 12.GB }
    time = { task.attempt < 3 ? 1.h * task.attempt  : 4.h }
  }

  withName:'MANTA.*' {
    cpus   = {  12 * task.attempt }
    memory = {  12.GB * task.attempt }
  }

  withName:'STRELKA.*' {
    cpus   = {  12 * task.attempt }
    memory = {  12.GB * task.attempt }
  }

}
