/*
    Assay specific info
*/

params {
    //
    // We do not have a PoN for Mouse Exomes; use NULL PoN
    //
    pon     = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz"
    pon_tbi = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz.tbi"
}
