/*
    Assay specific info
*/

params {
    //
    // We do not have a PoN for Mouse WGS; use NULL PoN
    //
    pon     = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz"
    pon_tbi = "/rtsess01/compute/juno/bic/ROOT/rscr/references/Mus_musculus/BIC_MSK/GRCm38/PoN/pon.00.vcf.gz.tbi"
}

process {

    withName: 'FASTQC' {
        cpus   = { 4 * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { task.attempt < 3 ? 1.h * task.attempt  : 6.h }
    }

    withName: 'GATK4_MARKDUPLICATES' {
        cpus = { 16 }
        memory = { 256.GB + 128.GB * task.attempt}
        ext.args = "--MAX_RECORDS_IN_RAM 20000000 --SORTING_COLLECTION_SIZE_RATIO .15"
    }

}